@import '~typeface-inter';


:root {
    --color-black : #111111;
    --color-white : #FFFFFF;
    --color-grey : #E6E6E6;
    --color-golden  : #E3B748;
    --color-blackgreish : #1d1d1d;
}

html,body {
    margin : 0px;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-black);
}